body{
    font-family: 'Roboto',sans-serif;
    /* to put button in the middle of the page */
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    background-color: #003049;
}
button{
    background: none;
    color:#f77f00;
    border:2px solid;
    padding:1em 2em;
    font-size: 1em;
    transition:all 0.25s;
    border-radius: 0.25em;
}
button:hover{
    border-color: #ffbe0b;
    color:white;
    box-shadow: 0 0.5em 0.5em -0.4em #ffbe0b;
    transform: translateY(-0.25em);
    cursor:pointer;
}